// 上方廣告欄位
.product-content-advertise {
    width: 100%;
    height: auto;
    padding: 10px 0 0;
}
// 廣告欄位圖片設計
.product-advertise-img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    object-position: center;

    @include media568 {
        object-fit: cover;
    }
}
