/* Reset清除瀏覽器預設樣式，
瀏覽器會有個預設樣式 user agent stylesheet，
以body內容來說，預設文字會有margin:8px，

清除樣式格式如下：
網址來源:http://meyerweb.com/eric/tools/css/reset/
依照設計師格式為準，避免因瀏覽器預設樣式導致不一情況
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    /* 這段是額外加上的，字型:微軟正黑體 */
    // font-family: 'Noto Sans', 'Microsoft JhengHei', '微軟正黑體', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}

/* 清除清單預設樣式 */
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/* 表格的線格重疊效果 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
