.user-error-container {
    max-width: 1400px;
    width: 80%;
    margin: 100px auto;

    .user-error-title {
        text-align: center;
        font-size: 2rem;
        font-weight: bolder;
        color: #b00020;
    }
    .user-error-text {
        margin: 30px 0 0;
        text-align: center;
        font-size: 1.2rem;

        .user-error-button {
            margin: 0 0 0 10px;
            background-color: white;
            outline: none;
            border: 1px solid #b00020;
            padding: 3px 15px;
            color: #b00020;
            transition: all 0.5s ease-in-out;
            cursor: pointer;

            &:hover,
            &:active {
                background-color: #b00020;
                color: white;
            }
        }
    }
}
