.user-forget-container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;

    // 內容器
    .user-forget-content {
        max-width: 800px;
        width: 100%;
        padding: 100px 25px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        // 表單樣式
        .user-forget-form {
            padding: 50px 50px;
            width: 80%;
            background-color: #fff;
            height: auto;
            border: 2px solid #00b894;
            border-radius: 5px;
            filter: drop-shadow(5px 5px 4px #5e5e5e);

            @include media568 {
                width: 100%;
            }

            @include media414 {
                padding: 30px 10px;
            }

            // 表單標題樣式
            .user-forget-title {
                font-size: 2.3rem;
                font-weight: bolder;
                padding: 10px 0;
                margin: 0 0 15px;
                text-align: center;
                color: #000;
                border-radius: 5px;
                position: relative;
            }

            .user-forget-subtitle {
                // margin: 0 auto;
                width: 100%;
                // text-align: center;
                font-weight: bolder;
                margin: 0 0 20px;
            }

            // 標籤屬性
            label {
                display: block;
                padding: 15px 0 5px;
                margin: 0 0 5px;
                font-size: 1.1rem;
                font-weight: bolder;
            }

            // 輸入框
            input {
                padding: 10px 0 10px 10px;
                width: 100%;
                border-radius: 5px;
                border: 2px solid #636e72;
                margin: 0 0 5px;

                &:focus {
                    outline: none !important;
                    border: 2px solid #000000 !important;
                    box-shadow: 0 0 10px #000000 !important;
                }
                &:active {
                    outline: none !important;
                    border: 2px solid #000000 !important;
                    box-shadow: 0 0 10px #000000 !important;
                }
            }

            // 驗證通過時顯示
            .inputValid {
                outline: none !important;
                border: 2px solid #00b894 !important;
                box-shadow: 0 0 5px #00b894;
            }

            //  驗證不通過時顯示
            .inputInvalid {
                outline: none !important;
                border: 2px solid #b00020 !important;
                box-shadow: 0 0 5px #b00020;
            }

            // 驗證不通過時的文字提示樣式
            .inputInvalidText {
                color: #b00020;
                font-weight: bolder;
            }

            // 註冊按鈕
            .user-forget-submit-btn {
                margin: 20px 0 0;
                width: 100%;
                color: #fff;
                height: 40px;
                padding: 5px 0;
                font-size: 1.2rem;
                font-weight: bolder;
                background-color: #00b894;
                border: 2px solid black;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                // 選取特效
                &:hover {
                    outline: none !important;
                    border: 2px solid #00b894;
                    box-shadow: 0 0 10px #25dab5;
                }
                &:active {
                    outline: none !important;
                    border: 2px solid #00b894;
                    box-shadow: 0 0 10px #25dab5;
                }
            }

            // 已註冊提示
            .user-forget-register {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 20px 0 0;
                text-align: center;

                // 登入連結
                .user-go-register {
                    padding: 0 10px;
                    color: #00b894;
                    font-size: 1.2rem;
                    font-weight: bolder;
                    transition: color 0.3s ease-in-out;

                    &:hover {
                        color: #b80012;
                    }
                    &:active {
                        color: #b80012;
                    }
                }
            }
        }
    }
}
