.user-info-put-container {
    padding: 20px;
    // max-width: 800px;
    width: 100%;

    // 顯示會員資料區塊
    .user-info-name-container {
        padding: 0 0 20px;
        // border-bottom: 2px solid #00b894;
        border-bottom: 2px solid black;

        // 會員名稱樣式
        .user-info-put-name {
            display: flex;
            align-items: center;
            font-size: 1rem;
            flex-wrap: wrap;

            // 會員 icon 樣式
            .user-info-name-icon {
                height: 20px;
                width: 20px;
                margin: 0 6px 0 0;
            }

            // 會員編號
            .user-info-put-number {
                display: block;
                margin: 0 0 0 25px;
                padding: 0 0 0 25px;
                position: relative;

                @include media414 {
                    width: 100%;
                    margin: 2px 0 0 0;
                }

                // 設定 | 符號
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 2px;
                    height: 100%;
                    background-color: #00b894;

                    @include media414 {
                        display: none;
                    }
                }
            }

            // 註冊來源樣式
            .user-info-put-origin {
                display: block;
                margin: 0 0 0 25px;
                padding: 0 0 0 25px;
                position: relative;

                @include media414 {
                    width: 100%;
                    margin: 5px 0 0 0;
                }

                // 設定 | 符號
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 2px;
                    height: 100%;
                    background-color: #00b894;

                    @include media414 {
                        display: none;
                    }
                }
            }
        }

        // 登出按鈕樣式
        .user-info-logout-btn {
            margin: 15px 0 0;
            background-color: #636e72;
            padding: 7px;
            border: 2px solid #000;
            font-size: 1rem;
            color: #fff;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: #000;
            }
        }

        // 註銷會員按鈕樣式
        .user-info-delete-btn {
            margin: 15px 0 0 10px;
            background-color: #b00020;
            padding: 7px;
            border: 2px solid #000;
            font-size: 1rem;
            color: #fff;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: #000;
            }
        }
    }

    // 編輯會員資料 - 表單設定
    .user-info-put-form {
        padding: 20px 0 80px;
        clear: both; // 避免父層高度坍塌

        @include media414 {
            padding: 20px 0 0;
        }

        // 表單內標題大小
        .user-info-title {
            font-weight: bolder;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 15px;

            // 表單內編輯 icon 樣式
            .user-info-edit-icon {
                height: 20px;
                width: 20px;
                margin: 0 2px 0 0;
            }
        }

        span {
            display: block;
        }

        label {
            display: inline-block;
            margin: 20px 0 0; // 欄位間隔
            font-size: 1rem;
            width: 140px;

            @include media414 {
                display: block; // 換行
                width: 100%;
            }
        }

        // 各種輸入框樣式
        input[type='text'],
        input[type='password'],
        input[type='date'],
        input[type='number'],
        input[type='search'] {
            padding: 6px 6px 6px 10px;
            border: 1px solid #636e72;
            margin: 0 0 5px;
            width: 200px;
            border: 1px solid #636e72;

            @include media414 {
                margin: 5px 0 0;
                width: 100%;
            }

            &:focus {
                outline: none !important;
                border: 1px solid #000000 !important;
                box-shadow: 0 0 10px #000000 !important;
            }
            &:active {
                outline: none !important;
                border: 1px solid #000000 !important;
                box-shadow: 0 0 10px #000000 !important;
            }
        }
        // 下拉式選單樣式
        select[type='select'] {
            padding: 5px;
            width: 150px;
            margin: 0 5px 0 0;
            border: 1px solid #636e72;

            @include media414 {
                margin: 5px 0 0;
            }

            &:focus {
                outline: none !important;
                border: 1px solid #000000 !important;
                box-shadow: 0 0 10px #000000 !important;
            }
            &:active {
                outline: none !important;
                border: 1px solid #000000 !important;
                box-shadow: 0 0 10px #000000 !important;
            }
        }

        // 聯絡地址 縣市鄉政 標籤隱藏 (對齊)
        .info-label-address-area {
            width: 0;

            @include media414 {
                margin: 0; // 對其上方
            }
        }

        // 隱藏 地址標籤 (對齊)
        .info-label-address-site {
            display: inline-block;
            width: 0px;
        }

        // 調整 地址輸入格
        .info-input-address-site {
            width: 300px !important; // 調整大小
            // width: 40% !important; // 調整大小
            @include media768 {
                margin: 5px 0 5px 140px !important;
                width: 400px !important;
            }
            @include media568 {
                width: 305px !important;
            }

            @include media414 {
                width: 100% !important;
                margin: 5px 0 0 0 !important; // 對齊上方
            }
        }

        // // 驗證通過時顯示
        // .inputValid {
        //     outline: none !important;
        //     border: 1px solid #00b894 !important;
        //     box-shadow: 0 0 5px #00b894;
        // }

        //  驗證不通過時顯示
        .inputInvalid {
            outline: none !important;
            border: 1px solid #b00020 !important;
            box-shadow: 0 0 5px #b00020;
        }

        // 驗證不通過時的文字提示樣式
        .inputInvalidText {
            color: #b00020;
            font-weight: bolder;
            margin: 0 0 0 140px;

            @include media768 {
                margin: 5px 0 0 140px;
            }

            @include media568 {
                margin: 5px 0 0 0;
            }

            @include media414 {
                margin: 5px 0 0 0;
            }
        }

        // 編輯姓名 & 註冊信箱 & 生日 & 手機 & 地址 提示區塊
        .info-name-notice,
        .info-email-notice,
        .info-birthday-notice,
        .info-tel-notice,
        .info-address-notice {
            display: block;
            margin: 3px 0 10px 140px;
            font-size: 0.9rem;
            max-width: 800px;
            width: 100%;
            color: #636e72;
            white-space: wrap;

            @include media568 {
                margin: 5px 0 5px 0;
            }

            @include media414 {
                width: 100%; // 滿版提示
                line-height: 1.1rem;
            }
        }

        // 取消地址選擇按鈕樣式
        .address-cancel-btn {
            margin: 0 0 0 10px;
            padding: 0 0 0 8px;
            background-color: #fff;
            border: none;
            position: relative;
            font-size: 0.9rem;
            color: #636e72;
            cursor: pointer;

            &:hover,
            &:active {
                color: #000;
            }

            // 取消地址按鈕的 icon
            .user-info-cancel-icon {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 20px;
                margin: 0 2px 0 0;
            }
        }

        // 取消按鈕
        .info-cancel-btn {
            display: block;
            float: right;
            margin: 30px 0 0 10px;
            // margin: 20px auto 0;
            width: 100px;
            height: 40px;
            background-color: #fff;
            padding: 7px;
            border: 2px solid #636e72;
            color: #000;
            font-size: 1rem;
            font-weight: bolder;
            border-radius: 5px;
            cursor: pointer;

            @include media414 {
                width: 45%;
                float: none; // 按鈕取消浮動，並排置中
                display: inline-block; // 按鈕取消浮動，並排置中
            }

            &:hover,
            &:active {
                color: #b00020;
            }
        }

        // 確認並更按鈕
        .info-confirm-btn {
            display: block;
            float: right;
            margin: 30px 0 0 10px;
            width: 100px;
            height: 40px;
            background-color: #00b894;
            padding: 7px;
            border: 2px solid #636e72;
            font-size: 1rem;
            font-weight: bolder;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;

            @include media414 {
                width: 45%;
                float: none; // 按鈕取消浮動，並排置中
                display: inline-block; // 按鈕取消浮動，並排置中
            }

            &:hover,
            &:active {
                color: #000;
                border: 2px solid #b00020;
                background-color: #fff;
                color: #b00020;
            }
        }
    }

    .swal2-default-outline {
        color: #000 !important;
    }
}
