.user-newPassword-container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;

    // 內容器
    .user-newPassword-content {
        max-width: 1400px;
        width: 100%;
        padding: 100px 25px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        // 表單容器
        .user-newPassword-form {
            padding: 50px 50px;
            width: 60%;
            background-color: #fff;
            height: auto;
            border: 2px solid #00b894;
            border-radius: 5px;
            filter: drop-shadow(5px 5px 4px #5e5e5e);

            @include media768 {
                width: 80%;
            }

            @include media568 {
                width: 100%;
            }

            @include media414 {
                padding: 30px 10px;
            }

            // 表單標題
            .user-newPassword-title {
                font-size: 2.3rem;
                font-weight: bolder;
                padding: 10px 0;
                margin: 0 0 30px;
                text-align: center;
                // color: #00b894;
                color: #000;
                border-radius: 5px;
                position: relative;
            }

            // 標籤屬性
            label {
                display: block;
                padding: 15px 0 5px;
                // margin: 10px 0 0;
                font-size: 1.1rem;
                font-weight: bolder;
            }

            // 輸入框
            input[type='text'],
            input[type='password'] {
                padding: 10px 0 10px 10px;
                width: 100%;
                border-radius: 5px;
                border: 2px solid #636e72;
                margin: 0 0 5px;

                &:focus {
                    outline: none !important;
                    border: 2px solid #000000 !important;
                    box-shadow: 0 0 10px #000000 !important;
                }
                &:active {
                    outline: none !important;
                    border: 2px solid #000000 !important;
                    box-shadow: 0 0 10px #000000 !important;
                }
            }

            // 驗證通過時顯示
            .inputValid {
                outline: none !important;
                border: 2px solid #00b894 !important;
                box-shadow: 0 0 5px #00b894;
            }

            //  驗證不通過時顯示
            .inputInvalid {
                outline: none !important;
                border: 2px solid #b00020 !important;
                box-shadow: 0 0 5px #b00020;
            }

            // 下方提示文字
            .newPassword-notice {
                display: block;
                padding: 30px 0 0;
                color: #b00020;
                font-size: 0.9rem;
                text-align: center;
            }

            // 驗證不通過時的文字提示樣式
            .inputInvalidText {
                color: #b00020;
                font-weight: bolder;
            }

            // 浮水印字型大小
            input::placeholder {
                font-size: 0.9rem;
                // font-weight: bolder;
            }

            // 第一次密碼輸入 & 第二次密碼確認輸入 標籤
            .newPassword-label-password,
            .newPassword-label-checkPassword {
                position: relative;

                // 打開顯示密碼 & 關閉密碼顯示 icon
                .eye-hidden-password,
                .eye-open-password,
                .eye-hidden-checkPassword,
                .eye-open-checkPassword {
                    position: absolute; // 調整位置
                    top: 120%;
                    right: 3%;
                    width: 25px;
                    height: 25px;
                    fill: #636e72;
                }
            }

            // 顯示icon預設是隱藏的
            .eye-open-icon {
                display: none;
            }

            // 用來切換隱藏顯示的class
            .eye-hidden {
                display: none;
            }
            .eye-open {
                display: block;
            }

            // 更變密碼按鈕
            .user-newPassword-submit-btn {
                margin: 20px 0 0;
                width: 100%;
                color: #fff;
                height: 40px;
                padding: 5px 0;
                font-size: 1.2rem;
                font-weight: bolder;
                background-color: #00b894;
                border: 2px solid black;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                // 選取特效
                &:hover {
                    outline: none !important;
                    border: 2px solid #00b894;
                    box-shadow: 0 0 10px #25dab5;
                }
                &:active {
                    outline: none !important;
                    border: 2px solid #00b894;
                    box-shadow: 0 0 10px #25dab5;
                }
            }
        }
    }
}
