.shopping-page-container {
    padding: 60px 0;
    width: 100%;
    height: auto;

    .shopping-page-content {
        max-width: 1024px;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}
