// scss 主要可以利用巢狀結構，不用每段前面都要加主class名稱
// 可以新增變數，用來設定全域屬性，比如連結顏色 linkColor ， 在最一開始可以新增變數 $linkColor
// 這樣未來在一次更改時就可以全部調整色系

// 連結顏色
// $linkColor:#6c5ce7;

// 文字大小。例如可以設定字體的 [大中小] 格式
// $font-l:18px;
// $font-m:16px;
// $font-s:14px;

// # 也可以使用 * 號方式去進行設計
$font-m: 16px;
$font-l: $font-m * 1.25; // 20px
$font-s: $font-m * 0.875; // 14px
