// banner 底部容器 start
.home-banner-container,
.home-banner-container-skeleton {
    max-width: 100%;
    width: 100%;
    height: 400px;
    position: relative;
    margin: 0 auto;

    @include media568 {
        height: 200px;
    }
    @include media414 {
        height: 40vh;
    }

    // img 替換的 skeleton 樣式
    .img-container-skeleton {
        width: 100%;
        height: 100%;
    }
    // 調整 <figure>、<figcaption> 標籤顯示
    .figure-container {
        display: inline;
        position: relative;

        // 隱藏字樣顯示
        .figcaptionText {
            display: none;
        }
    }

    // glide.js 預設 className 設定 (ul)
    .glide__slides {
        width: 100%;
        height: 400px;
        margin: 0 auto;
        position: relative;

        @include media568 {
            height: 200px;
        }
        @include media414 {
            height: 40vh;
        }
    }

    // li 中的 圖片跟影片設定
    .glide__slide img,
    .glide__slide video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    /* 更改左右鍵的樣式 */
    .glide__arrows {
        // 讓容器稱滿100%，作為左右兩顆按鈕的支撐點
        width: 100%;
        height: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        left: 0;
        top: 45%;

        // 自訂義的按鈕設定，主要做成左右兩邊客製化按鈕
        .arrow-left,
        .arrow-right {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            cursor: pointer;
            opacity: 0.5;
            transition: opacity 0.3s ease-in-out;

            &:hover {
                opacity: 1;
            }
            &:active {
                opacity: 1;
            }
        }
        // 調整左邊按鈕位置
        .arrow-left {
            left: 2%;
        }
        // 調整右邊按鈕位置
        .arrow-right {
            right: 2%;
        }
    }

    // 底下小方塊設定內容 (與按鈕層作法差不多)
    .glide__bullets {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 90%;

        // 下方橫條小方塊設定
        .glide__bullet {
            border-radius: 0;
            margin: 1px;
            width: 40px;
            height: 10px;
            opacity: 0.5;
            // transition: opacity 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }

            &:active {
                opacity: 1;
            }
        }

        // 此狀態是當輪播在跑動時，button會自動帶上的屬性，在此屬性增加應用，就可以達成項目關注
        .glide__bullet--active {
            opacity: 0.9 !important;
        }
    }
}

// 每個輪播控制 (li)
.glide__slide {
    position: relative;
    // cursor: grab;
}

// 文字與按鈕區塊
.glide__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    @include media568 {
        height: 100%;
        align-items: center;
        top: 55%;
    }

    @include media320 {
        top: 60%;
    }

    .home-banner-text {
        font-size: 2rem;
        font-weight: bolder;
        text-shadow: 0 0 10px black;

        @include media568 {
            font-size: 1.6rem;
        }
        @include media320 {
            font-size: 1.2rem;
        }
    }

    .home-banner-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0 0;
        width: 135px;
        height: 35px;
        background-color: #00b894;
        color: black;
        cursor: pointer;
        border: 2px solid black;
        box-shadow: 0 0 2px black;
        font-size: 1rem;
        font-weight: bolder;
        transition: all 0.1s ease-in;

        &:hover,
        &:active {
            border: 2px solid #2bdbb8;
            background-color: #2bdbb8;
            box-shadow: 0 0 15px #2bdbb8;
            color: #b80012;
        }

        @include media320 {
            display: none;
        }
    }
}
